<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <title>Homepage</title>

    <!-- Vue 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light custombg">
        <a class="navbar-brand" href="#">Learning Journey Planning System</a>

        <!-- uncomment this to use hamburger menu -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button> -->

        <div class="navbar-nav">
            <div class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </div>
            <div class="navbar-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="browseDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Browse
                </a>
                <div class="dropdown-menu" aria-labelledby="browseDropdown">
                    <a class="dropdown-item" href="#">Courses</a>
                    <a class="dropdown-item" href="#">Roles</a>
                    <a class="dropdown-item" href="#">Skills</a>
                </div>
            </div>
            <div class="navbar-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Type
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Learner</a>
                    <a class="dropdown-item" href="#">Human Resouces</a>
                </div>
            </div>
        </div>

        <div class="navbar-item ml-auto">
            <a class="nav-link" href="#">Logout</a>
        </div>
    </nav>

    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome Back {{staff_id}}</h1>
            <div v-if="lj_no == 0">
                <p>Seems like you have not create a Learning Journey</p>
                <form action="create_learning_journey.html">
                    <button type="submit"> Click here to Create Now! </button>
                </form>
            </div>
            <div v-else>A apple a day keeps the doctor away</div>
        </div>
    </div>

    <div class="container" id = "app">
        <h2>Learning Journey Tracker</h2>
        <div class="row d-flex justify-content-center">
            <table class="table border">
                <thead></thead>
                <tr v-model = "position_name"> <td> <h2>{{ position_name }}</h2> </td>  
                    <td> <select v-model = "lj_no">
                        <option selected disabled hidden>Select your Learning Journey to Track!</option>
                        <option v-for = "(lj, index) in response" :value="index">
                            {{ lj[0].Position_Name }}
                        </option>
                    </select>
                    </td>
                </tr>
                <tbody>
                    <tr>
                        <th> Skills </th>
                        <th> Courses </th>
                    </tr>
                    <tr scope="col" v-for="(lj,index) in lj_list">
                        <td> <button type="button" :value="lj.Skill_Name" class="btn btn-primary"> {{lj.Skill_Name}} </button>  </td>
                        <!-- can v-for the courses to have multiple courses for a single skill -->
                        <td> <button type="button" :value="lj.Course_ID" class="btn btn-primary"> {{lj.Course_ID}} </button>  </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row d-flex justify-content-between" v-if="position_name">
            <a type="button" class="btn btn-danger" @click="delete_learning_journey">Delete Learning Journey</a>
            <!-- <a type="button" class="btn btn-primary" @click="edit_learning_journey">Edit Learning Journey</a> -->
            <a href = "edit_learning_journey.html" type="button" class="btn btn-primary" @click="edit_learning_journey">Edit Learning Journey</a>
        </div>
        <div v-else></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>


        sessionStorage
        const vm = new Vue({
            el: '#app',
            data: {
                response: [],
                lj_list: [],
                position_name: "",
                lj_no: "",
                lj_name: "",
                staff_id: "",
            },
            mounted: function get_learning_journey() {
                this.staff_id = 130001;
                //this.staff_id = sessionStorage.getItem("staff");
                let config = {
                    method: 'get',
                    url: 'http://127.0.0.1:8080/get_learning_journey_by_staff_id/' + this.staff_id , //Should not be hardcoded but no session for now
                    headers: {
                        "Content-Type": "application/json"
                    }
                    }
                axios(config)
                    .then(function (response) {
                        console.log(response.data.data.lj);
                        let datalist = response.data.data.lj;
                        let tempArray = [];
                        console.log(datalist.length);
                        if (datalist.length == 1) {
                            vm.response.push([datalist[0]]);
                        } else {
                            for (i=0; i < datalist.length; i++) {
                                let sID = datalist[i]["Staff_ID"];
                                let pName = datalist[i]["Position_Name"];
                                if(!(i == 0)){
                                    let prevPName = datalist[i-1]["Position_Name"];
                                    let prevSID = datalist[i-1]["Staff_ID"];
                                    if(pName == prevPName && sID == prevSID){
                                        tempArray.push(datalist[i]);
                                        if(i == datalist.length - 1){
                                            vm.response.push(tempArray);
                                        }
                                    }
                                    else{
                                        vm.response.push(tempArray);
                                        tempArray = [];
                                        tempArray.push(datalist[i]);
                                        if(i == datalist.length - 1){
                                            vm.response.push(tempArray);
                                        }
                                    }
                                }
                                else {
                                    tempArray.push(datalist[i]);
                                }
                            } // end of for loop
                        } // end of else
                    }) // end of axios
            }, // end of mounted
            methods:{
                edit_learning_journey(){
                    let lj_id_list = [];
                    console.log(vm.lj_list);
                    for(lj in vm.lj_list){
                        lj_id_list.push(vm.lj_list[lj]["Learning_Journey_ID"]);
                    }
                    console.log(lj_id_list);
                    sessionStorage.setItem("position_name", vm.position_name);
                    sessionStorage.setItem("lj_id_list", JSON.stringify(lj_id_list));
                },
                delete_learning_journey(){
                    let config = {
                        method: 'DELETE',
                        url: 'http://127.0.0.1:8080/delete_learning_journey/' + vm.staff_id + "/" + vm.position_name,
                };
                if(confirm("Are you sure you want to delete the " + vm.position_name + " learning journey")){
                    axios(config)
                    .then(function (response) {
                        alert("You have successfully deleted the " + vm.position_name + " learning journey")
                        location.reload();
                    })                
                } else{
                    alert("Good Choice Bitch");
                }
                } //delete_learning_journey()
            }, // end of methods
            watch: {
                // whenever question changes, this function will run
                lj_no: function () {
                    vm.position_name = vm.response[vm.lj_no][0]["Position_Name"];
                    vm.lj_list = [vm.response[vm.lj_no]][0];
                    console.log(vm.lj_list);
                }
            }
        })
    </script>

</body>

</html>