.navlink, .navbar-brand {
    color: white;
}
.name {
    text-align: center;
    font-size: 1.5em;
}
.button {
    margin-left: 200px;
    color: white;
    background:rgb(174, 174, 220);
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
}